* {
    -webkit-tap-highlight-color: rgba(
        0,
        0,
        0,
        0
    ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@supports (padding: max(0px)) {
    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

::-webkit-scrollbar {
    display: none;
}

.input-grow-enter {
    height: 0px;
}
.input-grow-enter-active {
    height: 15%;
    transition: height 150ms;
}
.input-grow-enter-done {
    height: 15%;
}
.input-grow-exit {
    height: 15%;
}
.input-grow-exit-active {
    height: 0px;
    transition: height 150ms;
}

.input-fade-enter {
    color: transparent;
}
.input-fade-enter-active {
    color: #000;
    transition: color 150ms ease;
}
.input-fade-enter-done {
    color: #000;
}
.input-fade-exit {
    color: #000;
}
.input-fade-exit-active {
    color: transparent;
    transition: color 150ms ease;
}
